
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Navbar</title>
    <link href="@Url.Content("~/Content/firstcvstyle.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="menu">
        <ul>

            <li>
                <a href="Home">Home</a>
                <a href="AboutMe">About Me</a>
                <a href="WorkSection">Work Section</a>
                <a href="Education">Education</a>
                <a href="ContactMe">Contact Me</a>
            </li>
        </ul>
    </div>

    <br /> <br /> <br />

    <!--Main Start-->

    <main>
        <!--Personal Section Start-->

        <section id="personal-section">

            <div class="content">

                <div class="left-div">

                    <h3>Personal Information</h3>

                </div>

                <div class="right-div">

                    <p>
                        Assala-Mualaikum,This is Tarekuzzaman Moin. I am doing BSc in CSe at American International University - Bangladesh. Currently I'm in 9th semester.
                        I have completed 103 credits out of 148 and My research domain is software engineering and I selected this just because of I want to be a software developer.
                        I also want to complete my higher studies from abroad.  My fvourite programming language is Python because this is easier to use and latest programming language.
                        
                    </p>

                </div>
            </div>

        </section>

        </main>

        <!--Personal Section End-->


</body>
</html>
