
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Navbar</title>
    <link href="@Url.Content("~/Content/firstcvstyle.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="menu">
        <ul>

            <li>
                <a href="Home">Home</a>
                <a href="AboutMe">About Me</a>
                <a href="Education">Education</a>
                <a href="ContactMe">Contact Me</a>
            </li>
        </ul>
    </div>

    <br /> <br /> <br />

    <!--Footer Start-->

    <footer class="bottom-container">


        <a href="https://www.facebook.com/" target="blank">Facebook</a>
        <a href="https://www.google.com.kw/?gws_rd=ssl" target="blank">Google</a>
        <a href="https://www.youtube.com/" target="blank">YouTube</a>
        <p>Copyright &copy; Moin Zaman 2020</p>


    </footer>


    <!--Footer End-->

</body>
</html>
