
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Navbar</title>
    <link href="@Url.Content("~/Content/firstcvstyle.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="menu">
        <ul>

            <li>
                <a href="Home">Home</a>
                <a href="AboutMe">About Me</a>
                <a href="WorkSection">Work Section</a>
                <a href="Education">Education</a>
                <a href="ContactMe">Contact Me</a>
            </li>
        </ul>
    </div>

    <br /> <br /> <br />

    <section id="Education-section">

        <div class="content">

            <div class="left-div">

                <h3>Education</h3>

            </div>

            <div class="right-div">

                <div class="edu-template-left">

                    <h4>B.Sc in Computer Science & Engineering</h4>
                    <h5>2019-2023 | CGPA : 3.79/4.00 </h5>
                    <p>American International University-Bangladesh</p>
                    <p>Kuratoli,Basundhara residential Area</p>
                    <p><a href="https://www.aiub.edu/" target="blank"> Aiub Website </a> </p>


                </div>

                <div class="edu-template-right">

                    <h4>B.Sc in Computer Science & Engineering</h4>
                    <h5>2019-2023 | CGPA : 3.79/4.00 </h5>
                    <p>American International University-Bangladesh</p>
                    <p>Kuratoli,Basundhara residential Area</p>
                    <p> <a href="https://www.aiub.edu/" target="blank"> Aiub Website </a> </p>

                </div>


            </div>
        </div>

    </section>

</body>
</html>
