
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Navbar</title>
    <link href="@Url.Content("~/Content/firstcvstyle.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="menu">
        <ul>

            <li>
                <a href="Home">Home</a>
                <a href="AboutMe">About Me</a>
                <a href="WorkSection">WorkSection</a>
                <a href="Education">Education</a>
                <a href="ContactMe">Contact Me</a>
            </li>
        </ul>
    </div>
    <br/> <br/>

        <!--Header Start-->

        <header>

            <img class="profile-image" src="~/Content/Images/Moin.jpg" />
            <div class="header-bio">
                <h1>Moin Zaman</h1>
                <h3>Web Designer</h3>
            </div>

            <div class="header-contact">

                <p><a href="mailto:chan62695@gmail.com" target="blank">Email : chan62695@gmail.com</a></p>
                <p><a href="https://studywithanis.com" target="blank">Website : https://www.aiub.edu/</a></p>
                <p><a href="tel:01734827439" target="blank">Phone : 01734827439</a></p>

            </div>
        </header>

        <!--Header End-->

        <div class="div-clear"></div>

       

</body>
</html>
