
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Navbar</title>
    <link href="@Url.Content("~/Content/firstcvstyle.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="menu">
        <a href="#">Home</a>
        <a href="#">Tutorial</a>
        <a href="#">About Me</a>
        <a href="#">Contact Me</a>
    </div>
</body>
</html>
