
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Navbar</title>
    <link href="@Url.Content("~/Content/firstcvstyle.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="menu">
        <ul>

            <li>
                <a href="Home">Home</a>
                <a href="AboutMe">About Me</a>
                <a href="WorkSection">Work Section</a>
                <a href="Education">Education</a>
                <a href="ContactMe">Contact Me</a>
            </li>
        </ul>
    </div>
    <br /> <br /> <br />

    <section id="Work-section">

        <div class="content">

            <div class="left-div">

                <h3>Work Experience</h3>

            </div>

            <div class="right-div">
                <h3>Student Of AIUB</h3>
                <h5>2019-2020</h5>

                <p>
                    Amet diam sed ea aliquyam ipsum, tempor tempor lorem magna kasd consetetur stet invidunt gubergren diam.
                    Gubergren nonumy lorem erat et dolor et erat dolor, ipsum sanctus voluptua accusam elitr consetetur rebum sed.
                    Rebum duo takimata et sit labore, eirmod eirmod accusam et est et at at, justo eirmod accusam dolores elitr.
                    Ut kasd justo stet dolor sanctus et. Et et sadipscing duo est accusam erat, diam magna nonumy invidunt clita dam sed ut et eirmod.
                    Consetetur justo accusam sit dolores ut et et, lorem diam sanctus kasd et lorem ipsum. Sea dolores ea kasd diam dolores, magna dolor clita aliquyam clita tempor.
                    Sit at at sit et sed gubergren stet. Et sea sadipscing voluptua no ut aliquyam stet, labore nonumy sit sit diam accusam consetetur duo.
                    Et magna est et justo stet, accusam duo gubergren ea sadipscing elitr lorem ipsum gubergren, sadipscing eos eos dolore aliquyam sadipscing justo lorem.
                </p>
                <br /> <br />


                <h3>BSC in CSE</h3>
                <h5>2019-2020</h5>

                <p>
                    Amet diam sed ea aliquyam ipsum, tempor tempor lorem magna kasd consetetur stet invidunt gubergren diam.
                    Gubergren nonumy lorem erat et dolor et erat dolor, ipsum sanctus voluptua accusam elitr consetetur rebum sed.
                    Rebum duo takimata et sit labore, eirmod eirmod accusam et est et at at, justo eirmod accusam dolores elitr.
                    Ut kasd justo stet dolor sanctus et. Et et sadipscing duo est accusam erat, diam magna nonumy invidunt clita dam sed ut et eirmod.
                    Consetetur justo accusam sit dolores ut et et, lorem diam sanctus kasd et lorem ipsum. Sea dolores ea kasd diam dolores, magna dolor clita aliquyam clita tempor.
                    Sit at at sit et sed gubergren stet. Et sea sadipscing voluptua no ut aliquyam stet, labore nonumy sit sit diam accusam consetetur duo.
                    Et magna est et justo stet, accusam duo gubergren ea sadipscing elitr lorem ipsum gubergren, sadipscing eos eos dolore aliquyam sadipscing justo lorem.
                </p>
                <br /> <br />




                <h3>Web Designer, Student of Youtube</h3>
                <h5>2019-2020</h5>

                <p>
                    Amet diam sed ea aliquyam ipsum, tempor tempor lorem magna kasd consetetur stet invidunt gubergren diam.
                    Gubergren nonumy lorem erat et dolor et erat dolor, ipsum sanctus voluptua accusam elitr consetetur rebum sed.
                    Rebum duo takimata et sit labore, eirmod eirmod accusam et est et at at, justo eirmod accusam dolores elitr.
                    Ut kasd justo stet dolor sanctus et. Et et sadipscing duo est accusam erat, diam magna nonumy invidunt clita dam sed ut et eirmod.
                    Consetetur justo accusam sit dolores ut et et, lorem diam sanctus kasd et lorem ipsum. Sea dolores ea kasd diam dolores, magna dolor clita aliquyam clita tempor.
                    Sit at at sit et sed gubergren stet. Et sea sadipscing voluptua no ut aliquyam stet, labore nonumy sit sit diam accusam consetetur duo.
                    Et magna est et justo stet, accusam duo gubergren ea sadipscing elitr lorem ipsum gubergren, sadipscing eos eos dolore aliquyam sadipscing justo lorem.
                </p>
                <br /> <br />



            </div>
        </div>

    </section>

</body>
</html>
